:root{
    --main-radius: 5px;
    --main-padding: 15px;
    --white: #fff;
    --black: #323232;
    --grey1 : #474747;
    --grey2 : #585858;
    --red : #f15757;
    --txt-promo: 'Roboto', sans-serif;
}

html body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--grey2);
    transition: all 300ms ease;
}


/*======CONTAINER======*/
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    'nav nav nav nav'
    'main main main main'
    'content1 content1 content2 content3'
    'sidebar sidebar sidebar sidebar'
    'footer footer footer footer';
    grid-gap: 0.2rem;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
}


/*=====NAVEGADOR=====*/
nav{
    background-color: var(--white);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    
}

nav a{
    text-decoration: none;
    color: var(--grey2);
    transition: all 300ms ease;
}


.count_item{
    background-color: red;
    width: 18px;
    height: 18px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-left: 32px;
    margin-top: -20px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 50%;
    text-align: center;
}

/*=====ICONE MENU MOBILE=====*/
.grid{
    display: none;
}

nav p{
    margin-left: 100px;
}

ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    list-style: none;
}

li{
    margin-right: 20px;
}

main{
    background-color: var(--white);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    color: var(--grey2);
}

.containerform{
    width: 80%;
    padding: 20px;
}

.containerform h2{
    width: 100%;
    color: #4577ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.containerform .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;;
}

.containerform .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.containerform .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #0f1bc4;
}

.containerform .row100 .inputBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    left: 0;
    color: rgb(255, 255, 255);
}

.containerform .row100 .inputBox .textform{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.containerform .row100 .inputBox input:focus + .textform,
.containerform .row100 .inputBox input:valid + .textform{
    top: -35px;
    left: -10px;
}

.containerform .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #5560fc;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.containerform .row100 .inputBox input:focus ~ .line,
.containerform .row100 .inputBox input:valid ~ .line{
    height: 100%;
}

input[type="submit"]{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #0f1bc4;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}

/*=====FOOTER=====*/
footer{
    background-color: var(--black);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    color: var(--grey2);
}

.container-footer{
    display: flex;
    justify-content: center;
}

.list-footer{
    font-size: large;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    color: var(--white);
}

.list-principal{
    display: flex;
    flex-direction: column;
}

.list-sub{
    font-size: small;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.list-sub li{
    margin-top: 5px;
}

.list-sub li a{
text-decoration: none;
color: var(--white);
}

.inp-email-footer{
    border: none;
    border-radius: 3px;
    height: 25px;
}

.sub-email-footer{
    background-color: rgb(101, 201, 101);
    border: none;
    color: var(--black);
    border-radius: 3px;
    height: 25px;
}

/*=====HOVER=====*/
a:hover{
    color: var(--red) !important;
}

.content_img:hover{
    transform: scale(1.03);
    cursor: pointer;
}

/*=====MEDIA QUERIES=====*/
@media only screen and (max-width: 575px){
    .container{
        grid-template-columns: repeat( auto-fit, minmax(280px, 1fr));
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        'nav'
        'main'
        'content1'
        'content2'
        'content3'
        'sidebar'
        'footer';
    }

    p{
        margin-left: 20px;
        font-size: 11px;
    }

/*=====NAV=====*/
    #menu-nav{
        display: flex;
        position: fixed;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       margin: 0;
       padding: 0;
       top: 40px;
       width: 100%;
       overflow: hidden ;
       left: 0;
       right: 0;
       border-radius: 5px;
       border-top: 0.1px solid rgba(0, 0, 0, 0.082);
       border-left: 0.1px solid rgba(0, 0, 0, 0.082);
       border-bottom: 0.1px solid rgba(0, 0, 0, 0.082);
       background-color: var(--white);

    }

    #menu-nav li{
        margin: 0;
    }

    .show{
        transition: .8s;
        height: 300px;
        opacity: 1;
    }

    .hide{
        transition: .8s;
        height: 0;
        opacity: 0;
    }

    .grid{
        display: block;
        height: 24.8px;
        margin-right: 10px;
        top: 5px;
        cursor: pointer;
        color: var(--grey2);
    }

    .nome-logo{
        margin-left: 40px;
    }

    .container-footer{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .list-footer{
        font-size: large;
        display: flex;
        width: 1000px;
        justify-content: space-around;
        color: var(--white);
        flex-direction: column;
    }
    
    .list-principal{
        display: flex;
        flex-direction: column;
    }
    
    .list-sub{
        font-size: x-small;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    
    .list-sub li{
        margin-top: 10px;
        
    }
    
    .list-sub li a{
    text-decoration: none;
    color: var(--white);
    }
    
    .inp-email-footer{
        border: none;
        border-radius: 3px;
        height: 25px;
    }
    
    .sub-email-footer{
        background-color: rgb(101, 201, 101);
        border: none;
        color: var(--black);
        border-radius: 3px;
        height: 25px;
    }

}